{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
  <!-- begin template -->
  <div class="navbar navbar-custom navbar-fixed-top">
   <div class="navbar-header"><a class="navbar-brand" href="#">Samuel Magondu | Demo </a>
    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/flush">Flush the DB</a></li>
      <li>&nbsp;</li>
    </ul>
  </div>
</div>

<div class="container-fluid" id="main">
  <div class="row">
    <div id="map-canvas" style="height:300px"></div>
    <!--<div id="visualization"></div>-->
    <div class="col-xs-12" style="margin-top:350px">
      <p>Please click on any point to add a location. Only addresses with valid locations will be added. Thanks</p>
    </div>
    <div class="col-xs-12" style="margin-top:40px">
     <table class="table table-bordered table-stripped ">
      <thead>
        <tr id="head">
          <th>Text</th>
          <th>Number</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="body"></tbody>
    </table>     
  </div>
</div>
</div>
<!-- end template -->

{% endblock content %}
{% block js %}

<script>
function handler(response) {
  body = "<tr>" 
  if (response.columns){
   document.getElementById("head").innerHTML = ""
   for (var i=0; i < response.columns.length;i++)
   {
    document.getElementById("head").innerHTML += "<th>" + response.columns[i] + "</th>"
  }
}
if (response.rows){
for (var i = 0; i < response.rows.length; i++) {
        //console.log(response.rows);
        var item = response.rows[i];

        if (item) {
          for (var j = 0; j < item.length; j++){
            body += "<td>" +item[j] + "</td>";
          }
        }
        body += "</tr>"
      }
}
        document.getElementById("body").innerHTML += body;
    }
    </script>

    <script src="https://www.googleapis.com/fusiontables/v2/query?sql=select%20*%20from%201UbnbcY4LOlfyrXzW3DwKmziMqYwUr1KOBA0UstY7&key=AIzaSyAm9yWCV7JPCTHCJut8whOjARd7pwROFDQ&callback=handler"></script>
    {% endblock js%}